# Python
*.py[co]
__pycache__
*-checkpoint.ipynb
*.log
*.db
venv/
env/
.env

# IDE
.vscode
.idea
*.swp

# Config
config.yaml
OpenConfig.yaml
gotify_push.py
cos_config.yaml

# Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/node_modules/
frontend/dist/
frontend/.nuxt/
frontend/.cache/
frontend/.output/
mlchan_deploy/
